/* Overriding stuff from skeleton */
h1, h2, h3, h4, h5, h6 { font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; } 

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { text-decoration: none; }

.row { margin-bottom: 2px; }

li {
    margin-bottom: 5px;
    border: 1px;
    border-style: dashed;
    border-color: lightgray;
}

/* Definitions for WebIDP */

.warning { color: red; }

div.hidden { display: none }

.label { font-weight: bold; }
.active { font-weight: bold; color:green }
.inactive { font-weight: bold; color:red }
.loggedin { font-weight: bold; color:blue }
.button_disable { font-weight: bold; margin-right:5px; }
.button_delete { font-weight: bold; margin-right:5px; }

.sparqlarea { width: 100% }
