<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <% // based on https://github.com/dhg/Skeleton.git, 7ab682091d1032035cfcb668e6bd4b465bfa4679 %>
  <meta charset="utf-8">

  <title><%= title %></title>
  <meta name="description" content="WebIDP - Identity provider for WebID">
  <meta name="author" content="Berne University of Applied Sciences (BUAS) -- http://bfh.ch">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="stylesheets/base.css">
  <link rel="stylesheet" href="stylesheets/skeleton.css">
  <link rel="stylesheet" href="stylesheets/layout.css">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body>

  <div class="container">

    <div class="sixteen columns">
      <h3 id="logo">WebIDP</h3>
    </div>
    <div class="sixteen columns">
      <h4>Welcome to your profile</h4>
    </div>

    <div class="sixteen columns">
    Welcome back, <%= parsedProfile.name %>! You have successfully authenticated using your WebID <%= parsedProfile.webid %>.
    </div>

  </div>

</body>
</html>
