<% include head.html %>

  <% if (webId) { %>

    <script type="text/template" id="webid-template">
      <div>
        <div class="row">
          <div class="one columns"><span class="label">Name:</span></div><div class="five columns">{{= label }}</div>
          <div class="six columns">
            {{ if (active) { print('<span class="active">ACTIVE</span>'); } else { print('<span class="inactive">NOT ACTIVE</span>'); } }}
            {{ if (profile === '<%= userData.profile %>') { print('<span class="loggedin">USED FOR LOGIN</span>'); } }}
          </div>
          <div class="three columns">
            {{ if (active) { print('<a href="#" class="button_disable">[disable]</a>'); } else { print('<a href="#" class="button_disable">[enable]</a>'); } }}
            <a href="#" class="button_delete">[delete]</a>
          </div>
        </div>
        <div class="row">
          <div class="one columns"><span class="label">Validity:</span></div><div class="fourteen columns">{{= startValidity }} <span class="label">to</span> {{= endValidity }}</div>
        </div>
        <div class="row">
          <div class="one columns"><span class="label">Profile:</span></div><div class="fourteen columns"><a href="{{= profile }}">{{= profile.match(/(.*#.{14})/)[1] + ' ... ' + profile.substr(profile.length-14, profile.length)  }}</a></div>
        </div>
        <div class="row">
          <div class="one columns"><span class="label">Serial:</span></div><div class="eight columns">{{= certSerial }}</div>
        </div>
      </div>
    </script>

    <script src="/static/scripts/underscore.js" type="text/javascript"></script>
    <script src="/static/scripts/backbone.js" type="text/javascript"></script>
    <script src="/static/scripts/profile.js" type="text/javascript"></script>

    <div class="sixteen columns">
      <h4>Manage WebIDs</h4>
    </div>

    <div class="sixteen columns">
      Welcome back <span class="label"><%= userData.name %></span>!
    </div>

    <div class="sixteen columns">
      These are the WebIDs registered for your account <span class="label"><%= userData.uid %> (<%= userData.email %>)</span>:
    </div>

    <div class="sixteen columns">&nbsp;</div>

    <div id="webidview" class="sixteen columns">
      <ul id="webidlist"></ul>
    </div>

  <% } else { %>

    <div class="sixteen columns">
      <h4>Authentication failed!</h4>
    </div>

    <div class="sixteen columns">
    You cannot access your profile without a valid WebID! Do you want to <a href="/create">create one</a>?
    </div>

  <% } %>

<% include foot.html %>
