<% include head.html %>

    <div class="sixteen columns">
      <h4>SPARQL Console</h4>
    </div>

    <div class="sixteen columns">
      <form method="post" action="/sparql">
        <label for="query">SPARQL query</label>
        <textarea class="sparqlarea" rows="5" name="query">CONSTRUCT { ?s ?p ?o } WHERE { GRAPH <https://localhost:8443/id/test> { ?s ?p ?o } }</textarea>
        <p>Note: when using SELECT-query, only ?s, ?p and ?o will be returned in the result!</p>
        <input type="submit" name="submit" value="Submit!">
      </form>
    </div>

    <% if (result) { %>
      <div class="sixteen columns">
        <form>
          <label for="result">Result</label>
          <textarea class="sparqlarea" rows="20" name="result"><%= result %></textarea>
        </form>
      </div>
    <% } %>

<% include foot.html %>
